/* Scoped layout styles for App (Sidebar and Main Content) */

/* Layout container using CSS Grid */
.layout {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar styles */
  .sidebar {
    background-color: #f2f2f2;  
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10; 
    overflow-y: auto; 
    width: 20%;
    box-sizing: border-box;
  }
  

  /* Sidebar links
  .sidebar a {
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
    display: block;
  }
  

  
  .sidebar ul {
    list-style-type: none;  /* Removes the dots 
    padding: 0;
  }

  /* Main Content styles */
  .main-content {
    background-color: #ffffff;
    height: 100vh; 
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto;
    grid-column: 2;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  @media (max-width: 768px) {
    .sidebar {
      width: 40%;
    }
    .layout {
      grid-template-columns: 40% 60%;
    }
    .main-content {
      grid-column: 2;
    }
  }
  
  