
.scan-history {
    background-color: #ffffff;
    height: 100%;
        
    
    display: flex;
    justify-content: center;  
    align-items: center;      
}

.scan-history-container {
    border: none;
    margin-top: 8.7%;
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    padding: 20px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.scan-history-categories {
    display: flex;
    margin-bottom: 20px;
}

/* Common styles for the buttons */
.category-btn {
    margin-right: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgb(94, 94, 94);
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 30px;
}

.category-btn:hover {
    background-color: #dcdcdc;
}

.category-btn.active {
    background-color: #dcdcdc; /* Keeps the button in hover state */
    font-weight: bold;  /* Optional: Add bold for active button */
}


.all-history-scan-records-container {
    max-height: 450px; 
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #ffffff;
    border: 2px solid black;
}

.table-header {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

.table-header-item {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.table-row {
    display: flex;
    margin-bottom: 10px;
}

.table-item {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.allergy-detected {
    background-color: red;
    color: white;
    cursor: pointer;
}

.table-row:not(.allergy-detected):hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
