.signin-title {
  margin-top: 0;
  margin-bottom: 10px;
}
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.social-container a svg {
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease;
}

.social-container a:hover svg {
  color: #FF4B2B;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.signup-btn {
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.signup-btn:active {
  transform: scale(0.95);
}

.signup-btn:focus {
  outline: none;
}

.left-column-input {
  background-color: #eee;
  width: 100%;
  max-width: 200px;
  height: 45px;
  padding: 12px 15px;
  
  font-size: 16px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  border: 2px solid gray;
}

.right-column select,
.right-column-input {
  background-color: #eee;
  color: rgb(0, 0, 0);
  width: 100%;
  max-width: 200px;
  height: 45px;
  padding: 12px 15px;
 
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid gray;
}


.signin-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* Layout for two columns */
.form-fields-signin {
  background-color: #ffffff;
  padding: 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 4%;
}

.left-column, .right-column {
  width: auto;
  box-sizing: border-box;
}

.left-column input, .right-column-input {
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px; 
}

.left-column, .right-column {
  padding-right: 0px;
}

/* Error message style */
.error-message {
  padding: 0;
  color: red;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 0;
}


